<!DOCTYPE html>
<html lang="pt-br">

<head>
    <style>
body {background-color: #3F3F3F;}
h1   {color: blue;}
p    {color: red;}
</style>

    <meta charset="UTF-8">
    <title>SindCode</title>
</head>

<body>

    <h2>Cadastro de Associado</h2>
    <form>
        <p style="text-align: left;"></p>CPF <input type="text" name="cpf">
        <p style="text-align: left;"></p>RG <input type="text" name="rg">
        <p style="text-align: left;"></p>Nome Completo <input type="text" name="nome completo">
        <p style="text-align: left;"></p>Nome Social <input type="text" name="nome social">
        <p style="text-align: left;"></p>Gênero
        <select>
            <option value="f">Feminino</option>
            <option value="m">Masculino</option>
            <option value="n">Não binário</option>
            <option value="o">Outros</option>
            <option value="p">Prefiro não responder</option>
        </select>
        <p style="text-align: left;"></p>Data de Nascimeto
        <input type="date" name="dt_nasc">
        <input type="submit" value="cadastrar">

    </form>

</body>

</html>

