{% extends 'noticias/base.html'%} <!-- DTL - Django Template Language -->
{% load static %} <!-- DTL - Django Template Language -->
{% block content %}
    <div id="site">

        <main id="area">
            <div id="slideshow">
                aqui é o slideshow
            </div>
            <div id="noticias">
                aqui são as notícias
            </div>
            <div id="juridico">
                aqui é o jurídico
            </div>
            <div id="beneficios">
                aqui é os benefícios
            </div>
            <div id="nota_apesar">
                aqui é o nota de pesar
            </div>
            <div id="tv_sindcode">
                aqui é a tv sindcode
            </div>
        </main>

    </div>

{% endblock %}

