<!DOCTYPE>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sindcode 0.2</title>
    <!---Introdução ao DTL (Django Template Language)--->
    <link rel="stylesheet" href="{% static '/styles/style.css'%}">
</head>
<body>

    <div id="site">
        <header id="topo">
                <div id="media_busca">
                  aqui são as mídias e a busca
            </div>
                    <div id="logo_menu">
                aqui é a logo do menu
            </div>
        </header>

        <main id="area">
            <div id="slideshow">
                aqui é o slideshow
            </div>
            <div id="noticias">
                aqui são as notícias
            </div>
            <div id="juridico">
                aqui é o jurídico
            </div>
            <div id="beneficios">
                aqui é os benefícios
            </div>
            <div id="nota_apesar">
                aqui é o nota de pesar
            </div>
            <div id="tv_sindcode">
                aqui é a tv sindcode
            </div>
        </main>

        <footer id="rodape">
            aqui é o rodapé
        </footer>

    </div>

</body>
</html>